<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunappcloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e1fc35d0-d87e-4af0-941f-4dfe6fc65bfe/resourceGroups/sravan-rg/providers/Microsoft.Web/sites/testfunappcloud</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testfunappcloud.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlslil0YPsUGBeI3a0c0QtgAAAAACAAAAAAAQZgAAAAEAACAAAAAFKuqQ8wuI8VyFpoPXuFG6phA5TXdK60xAX7Mql+6EdAAAAAAOgAAAAAIAACAAAACknUoEGyYIbtspzooqyYxfGSGeTWJzbsYCa/Q/HFlOQyAAAADhQWCjTOk7zmcpkrRWYSNDLVO4m7mwh38ZSE1ZKnHF10AAAABD1brgH4/4FBCgGmflJqY5Vc5NQPEUo1uY2Q0d+XM4FnwXPuCTUwvjidT1LzcqYfxR6tVzkriqTbhhvzjBxx44</EncryptedPassword>
    <History>False|2024-07-25T09:11:44.7756325Z||;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <TargetFramework>net48</TargetFramework>
    <RuntimeIdentifier>win</RuntimeIdentifier>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>